[user]
	email = toraritte@gmail.com
	name = Attila Gulyas
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	lo = log --pretty=format:\"%C(yellow)%h%Creset %s%n%C(magenta)%C(bold)%an%Creset %ar\" --graph
	; https://stackoverflow.com/questions/21116069/decent-git-branch-visualization-tool#21116982
        van = log --pretty=format:'%C(yellow)%h%Creset %C(magenta)%C(bold)%cn%Creset %s %C(auto)%d%C(reset)' --all --graph
        v = log --graph --oneline --decorate --all
	vo = log --graph --decorate --all

        ; https://stackoverflow.com/questions/52704/how-do-i-discard-unstaged-changes-in-git
	; `git clean -df` may be needed, see 3rd answer (Mariusz)
	discard = checkout -- .
	; ctags = !.git/hooks/ctags
[push]
	default = simple
[merge]
	tool = vimdiff
[difftool]
	prompt = false
; [init]
; 	templatedir = /home/toraritte/dotfiles/.git_template/
[diff]
	tool = vimdiff
; [core]
; 	editor = nvim
